[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start="uvicorn app:create_app --reload --factory --ssl-certfile app-cert.pem --ssl-keyfile app-key.pem"
start-http="uvicorn app.app:create_app --reload --factory"
create-certificate="openssl req -x509 -newkey rsa:4096 -nodes -out app-cert.pem -keyout app-key.pem -days 3650"
make-random-key="openssl rand -hex 32"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlmodel = "*"
typer = {extras = ["all"], version = "*"}
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
requests = "*"
ruff = "*"

[requires]
python_version = "3.10"
